# AI Agent Config
.agent/

# Environment Variables
.env
.env.example
Kaggle_Writeup_Draft.md

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
.tempmediaStorage/
